html,
body {
    background-color: #c7c7c7;
    background-image: url("/static/images/waveblue.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}

.padding {
    padding: 3rem !important;
}

.layer {
    margin: 0;
    padding-top: 0.5em;
    padding-left: 0.35em;
    padding-right: 0.35em;
}

.layertwo {
    margin: 0;
    background-color: rgb(25, 97, 190);
    text-align: center;
    color: #fff;
    padding-top: 15px;
}

.card-block {
    padding: 1.25rem;
}

.sitedash{
    width: 1150px!important;
    margin: 0;
}