i.base
{
	position: fixed;
	bottom: 25px;
	right: 35px;
	font-size: 26px;
	background: #1282A2;
	color:#fff;
	padding: 8px 11px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 3;
	opacity: 0;
	pointer-events: none;
	transition: opacity .3 ease-in-out;
	box-shadow:  5px 3px 3px #2e2e2e;
}
i.base:hover{
	background: #0e657e;
	transition: .5s;
}