html,
body {
    background-color: #c7c7c7;
    background-image: url("/static/images/waveblue.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}

.cont {
    margin-top: 10vh;
    margin-bottom: 25vh;
}

.form-control:focus {
    box-shadow: none;
    border-color: #1282a2
}

.profile-button {
    background: #1282a2;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #1282a2;
}

.profile-button:focus {
    background: #1282a2;
    box-shadow: none
}

.profile-button:active {
    background: #1282a2;
    box-shadow: none
}

.labels {
    font-size: 11px
}

.typeuser1 {
    font-size: 18px;
}

.avatarprofilepage {
    box-shadow: 0px 0px 14px 0px rgba(53, 53, 53, 1);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(53, 53, 53, 1);
    -moz-box-shadow: 0px 0px 14px 0px rgb(34, 34, 34);
}