*{
    box-sizing: border-box;
}
html, body{
    background-color: #c7c7c7;
    height: 100%;
    background-image: url("/static/images/waveblue.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}
.form-outline {
    max-width: 350px;
}
