{% extends "base.html" %}

{% block styles %}   
<link rel="stylesheet" href="/static/styles/dashboardpage.css"> 
{% endblock %} 

{% block title %}
Your dashboard
{% endblock %}

{% block content %}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="container d-flex justify-content-center">
            <div class="sitedash">
                <div class="card layer">
                    <div class="card-header layertwo">
                        <h5>Your Dashboard</h5>
                    </div>
                    <div class="card-block">
                        <div class="row" id="sortable">
                            <div class="col-md-3" style="padding:10px; width:550px; height:400px">
                                <div class="card-sub" > 
                                    <div class="card-block">
                                        <h5 class="card-title">Last measurement</h5><br>
                                        <div class="heart">
                                            <img src="/static/images/iconheart.png">&nbsp; <b>{{dict['last_measure_hr']}}&nbsp;BPM</b> Pulse
                                        </div>
                                        <div class="spo2">
                                            <img src="/static/images/spo2icon.jpg">&nbsp; <b>{{dict['last_measure_sp']}}&nbsp;%</b> SpO2
                                        </div>
                                        <!-- <h6 class="card-title">{{dict['pulse_value']}}</h6>
                                        <h6 class="card-title">{{dict['pulse_message']}}</h6>
                                        <h5 class="card-title">{{dict['pulse_message']}}</h5> -->
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-3" style="padding:10px; width:550px; height:400px">
                                <div class="card-sub">
                                    <div class="card-block">
                                        <h5 class="card-title">History of measurements</h5>
                                        <div id="chart_div"></div>
                                        <!-- <h6 class="card-title">{{dict['pulse_chart_message']}}</h6> -->
                                        <form action="" method="post">
                                            <div class="dropdown">
                                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Select range
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li><button type="submit" class="dropdown-item" name="range" value="last_5">Last five tests</button></li>
                                                    <li><button type="submit" class="dropdown-item" name="range" value="last_week">Last week</button></li>
                                                    <li><button type="submit" class="dropdown-item" name="range" value="last_month">Last month</button></li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="padding:10px; width:550px; height:400px">
                                <div class="card-sub" > 
                                    <div class="card-block">
                                        <h5 class="card-title">Your BMI</h5>
                                        <h4 class="card-title">{{dict['bmi_value']}}</h4>
                                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
                                            <button class="btn btn-primary btn-sm" type="button" disabled>Disabled button</button>
                                        </span>
                                        <p class="card-text">Body mass index (BMI) is a measure of body fat based on height and weight that applies to adult men and women. View the BMI tables or use the tool below to compute yours.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3" style="padding:10px; width:550px; height:400px">
                                <div class="card-sub">
                                    <div class="card-block">
                                        <h5 class="card-title news">Latest news and features</h5>
                                        
                                        <div class="timeline-body">
                                            <div class="timeline-header"> 
                                                <span class="userimage">
                                                    <img src="/static/images/pulselogoblue.png" alt="logos" height="35">
                                                </span> 
                                                <span class="username"><a href="#">Team pulsebook</a> <small></small></span> 
                                            </div>
                                            <div class="timeline-content"><p> Welcome to the new pulsebook website. We are very pleased to introduce you to the new possibilities of our device and the convenience of using the website. </p>
                                        </div>
                                       
                                    </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% include "/includes/footer.html" %} 
{% endblock %}
{% block scripts %}   
<script type="text/javascript"> 
    window.dict = {{ jsondict|tojson }};
  </script> 
<script
  src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"
  integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/static/scripts/dashboardpage.js"></script>
<script src="/static/scripts/chart.js"></script>
{% endblock %} 