{% extends "base.html" %}

{% block styles %}   
<link rel="stylesheet" href="/static/styles/dashboardpage.css"> 
{% endblock %} 

{% block title %}
Your dashboard
{% endblock %}

{% block content %}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Your Dashboard</h5>
                    </div>
                    <div class="card-block">
                        <div class="row" id="sortable">
                            <div class="col-md-3" style="padding:10px; width:500px; height:400px">
                                <div class="card-sub" > 
                                    <img class="card-img-top img-fluid" src="https://i.imgur.com/QwIYa8y.jpg" alt="Card image cap">
                                    <div class="card-block">
                                        <h4 class="card-title">Your BMI</h4>
                                        <h5 class="card-title">{{"{:.1f}".format(dict['bmi_value'])}}</h4>
                                        <h6 class="card-title">{{dict['bmi_message']}}</h4>
                                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
                                            <button class="btn btn-primary" type="button" disabled>Disabled button</button>
                                        </span>
                                        <p class="card-text">Body mass index (BMI) is a measure of body fat based on height and weight that applies to adult men and women. View the BMI tables or use the tool below to compute yours.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="padding:10px; width:550px; height:400px">
                                <div class="card-sub">
                                    <div class="card-block">
                                        <h4 class="card-title">Pulse and saturation</h4>
                                        <div id="chart_div"></div>
                                        <h6 class="card-title">{{dict['pulse_chart_message']}}</h4>
                                        <form action="" method="post">
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Select range
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li><button type="submit" class="dropdown-item" name="range" value="last_week">Last week</button></li>
                                                    <li><button type="submit" class="dropdown-item" name="range" value="last_month">Last month</button></li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-sub">
                                    <div class="card-block">
                                        <h4 class="card-title">Your last pulse measure czy coś tam</h4>
                                        <h6 class="card-title">{{dict['pulse_value']}}</h4>
                                        <h6 class="card-title">{{dict['pulse_message']}}</h4>
                                        <h1 class="card-title">{{dict['pulse_message']}}</h4>
                                        <p class="card-text">Prawidłowe tętno (puls) mieści się w przedziale od 60 do 100 uderzeń serca na minutę. Za wysoki puls serca (powyżej 100 uderzeń na minutę) to tachykardia (częstoskurcz), za niski puls (poniżej 60 uderzeń na minutę) to bradykardia. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}   
<script type="text/javascript"> 
    window.dict = {{ jsondict|tojson }};
  </script> 
<script
  src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"
  integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/static/scripts/dashboardpage.js"></script>
<script src="/static/scripts/chart.js"></script>
{% endblock %} 