{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/profilepage.css">
{% endblock %}

{% block title %}
Your profile
{% endblock %}

{% block content %}

<form class="container rounded bg-white cont" method="POST">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5 avatarprofilepage" width="120px" src="/static/images/avatar0.png">
                <br>
                <span class="typeuser1">
                    <b>{{ current_user.username }}</b>
                </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">First name</label>
                        {{ form.first_name(placeholder="First name", class_="form-control") }}
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Last name</label>
                        {{ form.last_name(placeholder="Last name", class_="form-control") }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Date of birth</label>
                        {{ form.date_of_birth(placeholder="Date of birth", class_="form-control") }}
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Gender</label>
                        {{ form.gender(placeholder="Gender", class_="form-control") }}
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Nationality</label>
                        {{ form.nationality(placeholder="Nationality", class_="form-control") }}
                    </div>
                </div>
                <div class="row mt-3">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <span>
                        <b>Edit Values</b>
                    </span>
                </div>
                <br>
                <div class="col-md-12">
                    <label class="labels">Body height</label>
                    {{ form.height(placeholder="Height[cm]", class_="form-control") }}
                </div> <br>
                <div class="col-md-12">
                    <label class="labels">Body weight</label>
                    {{ form.weight(placeholder="Weight[kg]", class_="form-control") }}
                </div>
            </div>
        </div>
        <div class="mt-4 text-center pb-4">
            {{ form.submit(class_="btn btn-primary profile-button") }}
        </div>
        <br>
    </div>
</form>

{% endblock %}