{% extends "base.html" %}

{% block styles %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> -->
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/static/styles/sett.css">
<link rel="stylesheet" href="/static/styles/settingspage.css">
{% endblock %}

{% block title %}
SettingsTest
{% endblock %}

{% block content %}
<div class="container-md light-style">

    <h4 class="font-weight-bold py-3 mb-4">
      Account settings
    </h4>

    <div class="card overflow-hidden">
      <div class="row">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#device">Device</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#change-password">Change password</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-delete">Delete account</a>
          </div>
        </div>
        <div class="col">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="device">
              
		            <!--      Wizard container        -->
		            <div class="wizard-container">
                  <div class="card wizard-card" data-color="red" id="wizard">
                  <form action="" method="">
                  <!--        You can switch " data-color="green" "  with one of the next bright colors: "blue", "azure", "orange", "red"       -->

                        <div class="wizard-header">
                            <h3 class="wizard-title">List your place</h3>
                            <p class="category">This information will let us know more about your place.</p>
                        </div>
              <div class="wizard-navigation">
                <div class="progress-with-circle">
                    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
                </div>
                <ul>
                                <li>
                    <a href="#location" data-toggle="tab">
                      <div class="icon-circle">
                        <i class="ti-world"></i>
                      </div>
                      Location
                    </a>
                  </li>
                                <li>
                    <a href="#type" data-toggle="tab">
                      <div class="icon-circle">
                        <i class="ti-direction-alt"></i>
                      </div>
                      Type
                    </a>
                  </li>
                                <li>
                    <a href="#facilities" data-toggle="tab">
                      <div class="icon-circle">
                        <i class="ti-panel"></i>
                      </div>
                      Facilities
                    </a>
                  </li>
                                <li>
                    <a href="#description" data-toggle="tab">
                      <div class="icon-circle">
                        <i class="ti-comments"></i>
                      </div>
                      Comments
                    </a>
                  </li>
                            </ul>
              </div>
                          <div class="tab-content">
                              <div class="tab-pane" id="location">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h5 class="info-text"> Let's start with the basic details</h5>
                                  </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Where is your place located?">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                              <label>Country</label><br>
                                              <select name="country" class="form-control">
                                                  <option disabled="" selected="">- country -</option>
                                                  <option value="Afghanistan"> Afghanistan </option>
                                                  <option value="Albania"> Albania </option>
                                                  <option value="Algeria"> Algeria </option>
                                                  <option value="American Samoa"> American Samoa </option>
                                                  <option value="Andorra"> Andorra </option>
                                                  <option value="Angola"> Angola </option>
                                                  <option value="Anguilla"> Anguilla </option>
                                                  <option value="Antarctica"> Antarctica </option>
                                                  <option value="...">...</option>
                                              </select>
                                          </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Accommodates</label>
                                            <select class="form-control">
                                                <option disabled="" selected="">- persons -</option>
                                                <option>1 Person</option>
                                                <option>2 Persons </option>
                                                <option>3 Persons</option>
                                                <option>4 Persons</option>
                                                <option>5 Persons</option>
                                                <option>6+ Persons</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>Rent price</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Rent price per day">
                                                <span class="input-group-addon">$</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="tab-pane" id="type">
                                  <h5 class="info-text">What type of location do you have? </h5>
                                  <div class="row">
                                      <div class="col-sm-8 col-sm-offset-2">
                                          <div class="col-sm-4 col-sm-offset-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                                                  <input type="checkbox" name="jobb" value="Design">
                                                  <div class="card card-checkboxes card-hover-effect">
                                                      <i class="ti-home"></i>
                            <p>Home</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-sm-4">
                        <div class="choice" data-toggle="wizard-checkbox">
                                                  <input type="checkbox" name="jobb" value="Design">
                                                  <div class="card card-checkboxes card-hover-effect">
                                                      <i class="ti-package"></i>
                            <p>Apartment</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane" id="facilities">
                                  <h5 class="info-text">Tell us more about facilities. </h5>
                                  <div class="row">
                                      <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Your place is good for</label>
                                            <select class="form-control">
                                                <option disabled="" selected="">- type -</option>
                                                <option>Business</option>
                                                <option>Vacation </option>
                                                <option>Work</option>
                                            </select>
                                        </div>
                                      </div>
                                      <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>Is air conditioning included ?</label>
                                            <select class="form-control">
                                                <option disabled="" selected="">- response -</option>
                                                <option>Yes</option>
                                                <option>No </option>
                                            </select>
                                        </div>
                                      </div>
                                      <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Does your place have wi-fi?</label>
                                            <select class="form-control">
                                                <option disabled="" selected="">- response -</option>
                                                <option>Yes</option>
                                                <option>No </option>
                                            </select>
                                        </div>
                                      </div>
                                      <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>Is breakfast included?</label>
                                            <select class="form-control">
                                                <option disabled="" selected="">- response -</option>
                                                <option>Yes</option>
                                                <option>No </option>
                                            </select>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane" id="description">
                                  <div class="row">
                                      <h5 class="info-text"> Drop us a small description. </h5>
                                      <div class="col-sm-6 col-sm-offset-1">
                                          <div class="form-group">
                                              <label>Place description</label>
                                              <textarea class="form-control" placeholder="" rows="9"></textarea>
                                          </div>
                                      </div>
                                      <div class="col-sm-4">
                                          <div class="form-group">
                                              <label>Example</label>
                                              <p class="description">"The place is really nice. We use it every sunday when we go fishing. It is so awesome."</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="wizard-footer">
                              <div class="pull-right">
                                    <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='Next' />
                                    <input type='button' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish' value='Finish' />
                              </div>

                                <div class="pull-left">
                                    <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Previous' />
                                </div>
                                <div class="clearfix"></div>
                          </div>
                      </form>
                  </div>
              </div> 
              <!-- wizard container end -->
            </div>
            <div class="tab-pane fade" id="change-password">
              <div class="card-body pb-2">

                <div class="form-group">
                  <label class="form-label">Current password</label>
                  <input type="password" class="form-control">
                </div>

                <div class="form-group">
                  <label class="form-label">New password</label>
                  <input type="password" class="form-control">
                </div>

                <div class="form-group">
                  <label class="form-label">Repeat new password</label>
                  <input type="password" class="form-control">
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="account-delete">
      
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <center><div class="mx-auto mt-3">
      <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
      <button type="button" class="btn btn-default">Cancel</button> 
    </div></center> -->

  </div>
{% endblock %}
{% block scripts %}    
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/scripts/settingspage.js"></script>
{% endblock %} 