{% extends "base.html" %}

{% block styles %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> -->
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/static/styles/sett.css">
<link rel="stylesheet" href="/static/styles/settingspage.css">
{% endblock %}

{% block title %}
SettingsTest
{% endblock %}

{% block content %}
<div class="container-md light-style">

    <h4 class="font-weight-bold py-3 mb-4">
      Account settings
    </h4>

    <div class="card overflow-hidden">
      <div class="row">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#device">Device</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#change-password">Change password</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-delete">Delete account</a>
          </div>
        </div>
        <div class="col">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="device">
              
            </div>
            <div class="tab-pane fade" id="change-password">
              <div class="card-body pb-2">

                <div class="form-group">
                  <label class="form-label">Current password</label>
                  <input type="password" class="form-control">
                </div>

                <div class="form-group">
                  <label class="form-label">New password</label>
                  <input type="password" class="form-control">
                </div>

                <div class="form-group">
                  <label class="form-label">Repeat new password</label>
                  <input type="password" class="form-control">
                </div>
                <br>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
            <div class="tab-pane fade" id="account-delete">
              <h2>Delete your account</h2>
              <p>Delete your account permanently on pulsebook.</p><br>
              <button type="button" class="btn btn-danger">Delete account</button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <center><div class="mx-auto mt-3">
      <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
      <button type="button" class="btn btn-default">Cancel</button> 
    </div></center> -->

  </div>
{% endblock %}
{% block scripts %}    
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/scripts/settingspage.js"></script>
{% endblock %} 