{% extends "base.html" %}

{% block styles %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel = "stylesheet">
<link rel="stylesheet" href="/static/styles/settingspage.css">
{% endblock %}

{% block title %}
Settings
{% endblock %}

{% block content %}


<!-- MultiStep Form -->
<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform" method="POST">
                            {{ form.hidden_tag() }}
                            {% if current_user.devices.config_state == 0 %}
                            <ul id="progressbar">
                                <li class="active" id="account"><strong>wifi i prad</strong></li>
                                <li id="personal"><strong>key</strong></li>
                                <li id="payment"><strong>pin</strong></li>
                                <li id="confirm"><strong>Finish</strong></li>
                            </ul>
                            <div class="form-card">
                                <h2 class="fs-title">Wprowadz device_key</h2>
                                <p>Klucz urzadzenia znajduje sie na dolnej stronie obudowy</p>
                                <video src="/static/images/anim2.mp4" muted loop autoplay></video>
                                {{ form.device_key(type="text", placeholder="Device key", class_="form-control") }}
                            </div>
                            <button type="submit" name="next" class="next action-button" value="check_dk">Next</button>
                            {% elif current_user.devices.config_state == 1 %}
                            <ul id="progressbar">
                                <li class="active" id="account"><strong>wifi i prad</strong></li>
                                <li class="active" id="personal"><strong>key</strong></li>
                                <li id="payment"><strong>pin</strong></li>
                                <li id="confirm"><strong>Finish</strong></li>
                            </ul>
                            <div class="form-card">
                                <h2 class="fs-title">Podaj pin</h2>
                                <p>wprowadz pin, ktory wyswietla sie na ekranie urzadzenia</p>
                                {{ form.pin(type="number", placeholder="Pin", class_="form-control") }}
                            </div>
                            <button type="submit" name="next" class="next action-button" value="check_pin">Next</button>
                            {% elif current_user.devices.config_state == 2 %}
                            <ul id="progressbar">
                                <li class="active" id="account"><strong>wifi i prad</strong></li>
                                <li class="active" id="personal"><strong>key</strong></li>
                                <li class="active" id="payment"><strong>pin</strong></li>
                                <li class="active" id="confirm"><strong>Finish</strong></li>
                            </ul>
                            <h1>Brawo skonfiguroweałeś</h1>
                            <p>i panel do zmiany wifi czy tam czegfos(TODO)</p>
                            <table style="text-align: center;">
                                <tr>
                                  <th>Device</th>
                                  <th>Status</th>
                                  <th>Device key</th>
                                  <th>Serial number</th>
                                  <th>Version</th>
                                  <th></th>
                                </tr>
                                <tr>
                                  <td>PulseDuino</td>
                                  <th>{{ current_user.devices.configured }}</th>
                                  <td>{{ current_user.devices.device_key }}</td>
                                  <td>{{ current_user.devices.serial_number }}</td>
                                  <td>{{ current_user.devices.version }}</td>
                                  <td>
									<button type="submit" name="next" class="stylish" value="remove_device">&#xf1f8</button>
								  </td>
                                </tr>
                              </table>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
</body>
{% endblock %}

{% block scripts %}    
{% endblock %} 
