<div class="col-md-3" style="padding:10px; width:550px; height:400px">
    <div class="card-sub ui-draggable"> 
        <div class="card-block">
            <h5 class="card-title">Your BMI</h5>
            <h4 class="card-title">{{card.bmi_val}}</h4>
            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
                <button class="btn btn-primary btn-sm" type="button" disabled>Disabled button</button>
            </span>
            <p style="color:{{card.bmi_col}};">{{card.bmi_msg}}</p>
            <p class="card-text">Body mass index (BMI) is a measure of body fat based on height and weight that applies to adult men and women. View the BMI tables or use the tool below to compute yours.</p>
        </div>
    </div>
</div>