<style>
    [data-md-tooltip] {
        position: relative;
    }

    [data-md-tooltip]:before {
        content: attr(data-md-tooltip);
        padding: 10px;
        position: absolute;
        left: -15px;
        right: auto;
        bottom: auto;
        width: 200px;
        top: 50%;
        transform: translate(-85%, -50%) scale(0);
        transition: transform 0.3s ease-in-out;
        transform-origin: right center;
        background: #616161e6;
        color: white;
        border-radius: 2px;
        font-size: 12px;
    }

    [data-md-tooltip]:hover:before {
        transform: translateX(-100%) scale(1);
    }
</style>
<div style="width:300px; height:400px;">
    <div class="card ui-draggable" style="height: 100%;">
        <div class="card-header" style="padding:0;height: 35px;display:flex; justify-content: space-between;">
            <h6 style="margin:auto 10px;cursor:default;">Your BMI</h6>
            <div style="padding:0;display:flex;">
                <div style="margin:auto 5px">
                    <button class="btn btn-secondary rounded-circle shadow-none"
                        data-md-tooltip="Body mass index (BMI) is a measure of body fat based on height 
                        and weight that applies to adult men and women."
                        style="border:none;margin:auto auto;padding:0">
                        <i class="fa-xl fa-regular fa-circle-question" style="padding:0px;transform: scale(1.1);"></i>
                    </button>
                </div>
                <div style="margin:auto; margin-right:10px">
                    <button class="btn btn-secondary rounded-circle" style="border:none;margin:auto auto;padding:0"
                        title="Delete card">
                        <i class="fa-xl fa-regular fa-circle-xmark" style="padding:0px;transform: scale(1.1);"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body" style="display:flex; justify-content: space-between;">
            <h4 class="card-title">{{card.bmi_val}}</h4>
            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                data-bs-content="Disabled popover">
                <button class="btn btn-primary btn-sm" type="button" disabled>Disabled button</button>
            </span>
            <p style="color:{{card.bmi_col}};">{{card.bmi_msg}}</p>
        </div>
    </div>
</div>