<div class="col-md-3" style="padding:10px; width:550px; height:400px">
    <div class="card-sub">
        <div class="card-block">
            <h5 class="card-title">History of measurements</h5>
            <div id="chart_div"></div>
            <!-- <h6 class="card-title">{{dict['pulse_chart_message']}}</h6> -->
            <form action="" method="post">
                <div class="dropdown">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Select range
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><button type="submit" class="dropdown-item" name="range" value="last_5">Last five tests</button></li>
                        <li><button type="submit" class="dropdown-item" name="range" value="last_week">Last week</button></li>
                        <li><button type="submit" class="dropdown-item" name="range" value="last_month">Last month</button></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>