<div class="col-md-3" style="padding:10px; width:550px; height:400px">
    <div class="card-sub ui-draggable">
        <div class="card-block">
            <div style="display:flex; justify-content: space-between;">
                <h5 class="card-title">History of measurements</h5>
                
                <form name="PostName" action="/dashboard" method="POST">
                    <div></div>
                    <select class="form-select form-select-sm" 
                        aria-label=".form-select-sm example"
                        style="width:130px;margin-left: auto;"
                        name="range"  onchange="PostName.submit()">
                        <option value="last_5"{%if card.range == 'last_5' %}selected{%endif%}>Last five tests</option>
                        <option value="last_week" {%if card.range == 'last_week' %}selected{%endif%}>Last week</option>
                        <option value="last_month" {%if card.range == 'last_month' %}selected{%endif%}>Last month</option>
                    </select>
                </form>
            </div>
            <div id="chart_div"></div>
            <p class="card-title" style="padding: 15px;">{{card.msg}}</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.dict = {{ card.measurements | tojson }}
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/static/scripts/chart.js"></script>