 {% block footer %} 
 <link rel="stylesheet" href="/static/styles/footerstyle.css">
 <!-- Footer -->
  <footer class="footer-distributed">
    <div class="footer-left">
      <a href="/">
        <img src="/static/images/pulselogo0.png"  alt="" height="40px">
        &nbsp;Pulsebook
      </a>
      <p class="footer-links">
        <a href="/home" class="link-1">Home</a>   
        <a href="#">About</a>     
        <a href="/contact">Contact</a>
      </p>
      <p class="footer-company-name">Pulsebook &copy; 2022</p>
    </div>
    <div class="footer-center">
      <div>
        <i class="fa-solid fa-location-dot"></i>
        <p><span>5/10 Kopernika Street</span> 50-000 City, Poland</p>
      </div>
      <div id="github">
        <i class="fa-brands fa-github"></i>
        <a href="https://github.com/piekny27/flask-projekt" target="_blank">Github</a>
      </div>
      <div>
        <i class="fa-solid fa-envelope"></i>
        <p>support@pulsebook.com</p>
      </div>
    </div>
    <div class="footer-right">
      <p class="footer-company-about">
        <span>Startup</span>
        The pulsebook project is a website that monitors human condition and heart rate.
      </p>
      <div class="footer-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>
  </footer>
{% endblock %} 