<div class="col-md-3" style="padding:10px; width:550px; height:400px">
    <div class="card-sub" > 
        <div class="card-block">
            <h5 class="card-title">Last measurement</h5><br>
            <div class="heart">
                <img src="/static/images/iconheart.png">&nbsp; <b>{{dict['last_measure_hr']}}&nbsp;BPM</b> Pulse
            </div>
            <div class="spo2">
                <img src="/static/images/spo2icon.jpg">&nbsp; <b>{{dict['last_measure_sp']}}&nbsp;%</b> SpO2
            </div>
            <!-- <h6 class="card-title">{{dict['pulse_value']}}</h6>
            <h6 class="card-title">{{dict['pulse_message']}}</h6>
            <h5 class="card-title">{{dict['pulse_message']}}</h5> -->
        </div>
    </div>
</div>